html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}
.left {
    height: 100vh;
    width: 100%;
}
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.right h1 {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    color: lightblue;
    font-size: 65px;
}
.right p {
    color: grey;
    height: 0;
    width: auto;
}
#email_id {
    height: 7px;
    width: 40px;
    font-size: 10px;
    color: #6c6cee;
    position: relative;
    top: 45px;
    right: 90px;
    padding: 3px;
    background: #fff;
}
#passcode {
    height: 7px;
    width: 40px;
    font-size: 10px;
    color: #6c6cee;
    position: relative;
    top: 15px;
    right: 90px;
    padding: 3px;
    background: #fff;
}
.right input {
    width: 50%;
    padding: 14px;
    border: 2px solid lightblue;
    border-radius: 10px;
}

button {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background: #4096b27d;
    color: white;
    border: none;
    position: relative;
    top: 2%;
}
button:hover {
  background-color: #4db6ac;
  transform: scale(1.02);
  transition: 0.3s ease;
}
.bottom_right img {
    padding: 5px;
}
.bottom_right {
    margin-left: 10%;
    font-size: 10px;
}

.bottom_right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    .left {
        height: 30vh;
    }

    .right {
        margin-top: 50vh;
        margin-left: 50%;
    }
}